.jumbotron{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
  }
  .section3{
    text-align: center;
    margin: 100px;
  }
  .section4{
    text-align: center;
    background-color: #5c6447;
    margin: 50px;
    padding: 50px;
    display: none;
  }
  .card{
    margin:20px;
  }
  .footer{
    text-align: center;
    padding: 50px;
    color: white;
    background-color: #5c6447;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  .weight{
    text-align: center;
    margin: 200px;
  }